<div id="single-portfolio">
	<div id="portfolio-details" class="container">
		<a class="close-folio-item" href="#"><i class="fa fa-times"></i></a>
		<img class="img-responsive" src="images/portfolio/portfolio-details.jpg" alt="">
		<div class="row">
			<div class="col-sm-9">
				<div class="project-info">
					<h3>Recomendacion del mes </h3>
					<p>Este foro multidisciplinario (es restaurante, bar y cine) ofrece una programación mensual con cuatro películas independientes muy bien seleccionadas. Lo interesante del lugar es que tienes la opción de disfrutar, antes o después de tu película, de una exquisita cena en el restaurante. Los espárragos empanizados y la papa al horno siempre son LA opción. Acompáñalos con unos refrescantes drinks en el bar (el mojito es espectacular) dentro de un increíble ambiente..</p>
					<p></p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="project-details">
					<h3>Datos</h3>
					<p><span>Direccion: </span>Tonalá 261, Roma Sur</p>
					<p><span>Telefono:</span> 5264 4101</p>
					<p><span>Web:</span> cinetonala.mx</p>
				</div>  
			</div>
		</div>
	</div>
</div>